# Arquivo de exemplo para configuração do keystore
# Copie este arquivo para 'keystore.properties' e preencha com suas informações
# NUNCA faça commit do arquivo keystore.properties com dados reais!

storeFile=caminho/para/seu/keystore.jks
storePassword=sua_senha_do_keystore
keyAlias=seu_alias_da_chave
keyPassword=sua_senha_da_chave

