<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

     <key>NSSpeechRecognitionUsageDescription</key>
     <string>Precisamos processar sua voz para transcrever o pedido.</string>

     <key>NSLocationWhenInUseUsageDescription</key>
     <string>Precisamos da sua localização para preencher o endereço de entrega.</string>

     <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
     <string>Precisamos da sua localização para preencher o endereço de entrega.</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>Precisamos de acesso ao microfone para que você possa fazer pedidos por voz com a IA.</string>
</dict>
</plist>